<configuration>
  <system.webServer>
    <security>
      <ipSecurity enableReverseDns="true" allowUnlisted="false">
        <add ipAddress="216.235.192.10" allowed="true" />
        <add domainName="blackbaud.com" allowed="true" />
      </ipSecurity>
    </security>
  </system.webServer>
</configuration>
